

#main-container{
    height:150px ;
    width: 500px;
    box-shadow:  3px 3px 3px 3px gray;
    border: 0px;
    background-color:lightblue;
    border-radius: 5px;
    margin: 30px;
    margin-left: 400px;
    display: flex;
    flex-direction: column;

}



#main-container button{
        margin: 10px;
        padding: 2px;
        width: 100px;
        border: 0px;
        color: black;
        border-radius: 5px;
        
}
/* 
#main-container p{
    padding:10px 0px 0px 10px;
} */

.delete {
    margin-left: 400px;
    /* margin-top: 10px; */
    font-size:xx-large;
}
.edit{
    
    /* margin-top: 10px; */
    font-size:xx-large;
}
.delete:hover{
    color: red;
    cursor: pointer;
}

.edit:hover{
    color:yellowgreen;
    cursor: pointer;
}

.check{
    font-size:x-large;
    color: green;
    
}

#course {
    
    width: 500px;
    height: 80px;
   text-align: center;
   background-color:aqua;
    border: 0px;
    
}

#status{
    
    padding-left: 190px;
}
.Created{
    margin-left: 150px;
}